<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" >
        <!--<assemblies>
          <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </assemblies>-->
      </compilation>

      <customErrors mode="Off"/>

      <!--<webServices>
        <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <soapExtensionImporterTypes>
          <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </soapExtensionImporterTypes>
        --><!--<protocols>
				<remove name="Documentation" />
			</protocols>--><!--
      </webServices>-->
      
    </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>

    <modules>
      <add name="WSModule" type="NSWeb.WebServiceErrorModule" preCondition="managedHandler" />
    </modules>
  </system.webServer>


  <!--<microsoft.web.services3>
    <messaging>
      <mtom serverMode="Always"/>
    </messaging>
  </microsoft.web.services3>-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
