<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/scripts/style/atoms.css" rel="stylesheet" />
    <script src="/scripts/jquery-1.11.1.min.js"></script>
    <script src="/scripts/atoms.min.js"></script>
</head>
<body>
    <div atom-type="AtomApplication">
        @RenderBody()
    </div>
</body>
</html>
